.pomocny{
    padding: 6% 3% 0 3%;
}
.PomocH2{
    text-align: justify;
    text-decoration: none;
    font-weight: bold;
}
.PomocH3{
    text-align: justify;
    text-decoration: none;
    font-weight: inherit;
    font-size: large;
}