.reg{
    padding-top: 7%;
    margin-left: 7%;
    width: 80%;
}
.RegulaminA{
    background-color: #FFA07A;
    text-align: left;
    text-decoration: none;
    font-size: 30px;
    border-color: #FFA07A;
    lighting-color: #FFA07A;
    line-height: normal;
    color: black;
    border-radius: 5px;
}
.RegulaminA:hover{
    color: red;
    text-decoration: underline;
}
.link{
    margin-left: 2%;
    padding-bottom: 1%;
    text-align: left;
}
