.DaneKred{
    margin-top: 7%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: padding .2s;
    transition: padding .2s;
    padding-left: 16px;
    padding-right: 16px;
    width: 80%;
    height: 200px;
    border: solid #666666 2px;
    border-radius: 15px;
    background: linear-gradient(to bottom right, #9933ff, #3366ff);
}

.OpisKred{
    margin-bottom: 3%;
}

.DaneKred .KontynerKred{
    width: 45%;
    margin-left: 30%;
    display: flex;
}

.DaneKred .KredInput{
    height: 50px;
    width: 80%;
    text-align: center;
    font-size: 28px;
}

.DaneKred .SubmitButton{
    background: linear-gradient(to bottom right, greenyellow, green);
    margin-left: 5%;
    margin-top: 0.6%;
    border-radius: 10px;
    width: 10%;
    height: 42px;
    transition: opacity 5s;
}

.DaneKred .SubmitButton:hover{
    background: linear-gradient(to bottom right, lawngreen, palegreen);
    transition-duration: 5s;
}

.ErrorKred{
    color: red;
    font-size: 17px;
    font-weight: bold;
    background-color: beige;
    border: solid bisque 2px;
    border-radius: 5px;
    width: 36%;
    text-align: center;
    margin-left: 30%;
}